
/* Familia de letras usadas
font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class ^= "col-"]{
    padding: 0;
}

.fondo_productos{
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(7, 7, 7, 0.603), rgba(10, 10, 10, 0.603)),url("../images/Destinos/fondoMinaClavero.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(10, 10, 10, 0.603), rgba(12, 12, 12, 0.603)),url("../images/Destinos/fondoMinaClavero.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logoDigTur {
    width: 50%;
    height: auto;
}

/* -- Titulo Encabezado Principal */
.titEncabeza {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.titEncabeza h2 {
    font-size: 1.6rem;
    color: black;
    font-family: 'Anton', sans-serif;
}

/* -- Imagen Carrusel */
.imgCarrusel {
    height: 40vh;
}

.imgCarruseltamano {
    width: 100%;
    height: 100%;
}

.tit-Destino-carru {
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.tit-Destino-carru a {
    text-decoration: none;
    color:white;
}


/*---- CARDS DESTINOS ----*/
.texto-card-titulo{
    text-shadow: 4px 4px 4px #000;
}
.destinos article{
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 20px;
}

.destinos article a {
    text-decoration: none;
    color: black
}

.photo-container{
    position: relative;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    border-radius: 20px;
    background: rgba(0,0,0,.5);
    z-index: 100;
}

.photo-container:hover{
    cursor: pointer;
     border: 3px solid greenyellow;
     box-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow,0 0 80px greenyellow;

}

.photo{
    width: 100%;
    border-radius: 20px;
    height: 45vh;
}

.special{
    position: absolute;
    top:0;
    right: 5px;
    width: 20%;
    height: auto;
    z-index: 100;
}

.favorito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 5px;
    top: 2%;
    left: 3%;
    font-size: 2.5rem;
    background: transparent;
    color: white;
    border: none;
    transition: 500ms all ease;
    z-index: 20;   
}

.favorito i{
    font-size: 20px;

}
.favorito:hover{
    cursor: pointer;
    color: red;
}

.tit-Destino{
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    padding-top: 5px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.tit-Destino h3 {
    color: white;
    text-transform: uppercase;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1.8rem;
    font-weight: bold;
}


.tit-enca-card {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.iconos-pie-card {
    text-align: center;
}


.destino-individual h2{
    margin: 20px 0;
}
.destino-individual p{
    padding: 5px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

/* -- Iconos pie Cards */
.icon-compar {
    width: 15%;
    height: auto;
}

.control-paginacion {
    text-align: center;
}
 


.barraNavegacion{
   
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(36, 36, 62, 0.6), rgba(48, 43, 99, 0.6), rgba(15, 12, 41, 0.6)),url("../images/imgNav.png");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(36, 36, 62, 0.6), rgba(48, 43, 99, 0.6), rgba(15, 12, 41, 0.6)),url("../images/imgNav.png"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: cover;
     background-repeat: no-repeat;
    border-bottom: 5px solid rgb(211, 182, 17);
    
}
.logo-barra{
    max-width: 200px;
    max-height: 75px;
}
.menu-hamburguesa{
    color: white;
}
.items-barra{
    border-top: 1px solid white;
    text-align: center;
}
.items-barra:last-child{
    border-bottom: 1px solid white;
    
}


.items-barra a:hover{
    
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(44, 83, 100, 0.7), rgba(32, 58, 67, 0.7), rgba(15, 32, 39, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(44, 83, 100, 0.7), rgba(32, 58, 67, 0.7), rgba(15, 32, 39, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: ease all 1000ms;
   
}
.items-barra a p{
    
    margin: 0;

}
.items-barra a p, .items-barra a i{
    color: white;
    font-weight: bold;
}
.boton-ingreso{
    background: #2C3E50; 
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 20px !important;
    border: 1px solid black;

}
.boton-ingreso i{
    margin-right: 5px;
}
.boton-ingreso:hover{
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
}


/*--------------------FOOTER------------*/

.social{
    background-color: #2C3E50;
    color: white;
    
    padding: 4rem 1rem;
}

.a-iconos{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 1px solid white;
}

.a-iconos i{
    width: 40px;
}
.a-iconos:hover{
    background-color: white;
    color: #2C3E50;
    border: 1px solid #2C3E50;
    transition: all 1000ms ease;
}
.copyright{
    color: white;
    text-align: center;
}
.copyright span{
    font-weight: bold;
}
.red-social, .mision, .contacto h3{
    text-align: center;
}

@media (min-width : 380px) {
        
    /* -- Imagen Carrusel */
    .imgCarrusel {
        height: 50vh;
    }

    .photo{
        width: 100%;
        border-radius: 20px;
        height: 40vh;
    }

}

@media (min-width : 576px) {

    /* -- Imagen Carrusel */
    .imgCarrusel {
        height: 60vh;
    }

    /* -- imagen card */
    .photo {
        width: 100%;
        border-radius: 20px;
        height: 30vh;
    }

    /* -- logo oferta en card */
    .special {
        position: absolute;
        top:0;
        right: 5px;
        width: 30%;
        height: auto;
        z-index: 100;
    }

    /* -- titulo medio card */
    .tit-Destino h3 {
        font-size: 1rem;
    }

    /* -- titulo principal card */
    .tit-enca-card h3{
        font-size: 1.3rem;
    }

    /* -- parrafo detalle */
    .destino-individual p{
        font-size: 1.2rem;
        height: 45vh;
    }
}


@media (min-width : 768px) {

    /* -- Imagen Carrusel */
    .imgCarrusel {
        height: 70vh;
    }

    /* -- titulo medio card */
    .tit-Destino h3 {
        font-size: 1.2rem;
    }

    /* -- imagen card */
    .photo {
        width: 100%;
        border-radius: 20px;
        height: 25vh;
    }

    /* -- logo oferta en card */
    .special {
        position: absolute;
        top:0;
        right: 5px;
        width: 30%;
        height: auto;
        z-index: 100;
    }

} 


@media (min-width: 992px){

    /*---------------Barra de Navegacion -------------------*/

.div-barralinks{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
.contenedor-links{
    display: flex;
    width: 50%;
}
.items-barra{
    flex: 1;
    border: none;
   border-left: 1px solid white;
}
.items-barra:last-child{
    border: none;
    border-left:1px solid white;
    border-right: 1px solid white;
}
.boton-ingreso{
    background-color: #2C3E50;
    width: initial;
   /* margin: initial !important;*/
}

    /* -- Titulo Destinos */
    .titEncabeza h2 {
        font-size: 1.9rem;
        color: black;
        font-family: 'Anton', sans-serif;
    }
    /* -- Imagen Carrusel */
    .imgCarrusel {
        height: 85vh;
    }

    /* -- titulo medio card */
    .tit-Destino h3 {
        font-size: 1.2rem;
    }

    /* -- imagen card */
    .photo {
        width: 100%;
        border-radius: 20px;
        height: 30vh;
    }

    /* -- logo oferta en card */
    .special {
        position: absolute;
        top:0;
        right: 5px;
        width: 30%;
        height: auto;
        z-index: 100;
    }

    /* -- titulo principal card */
    .tit-enca-card h3{
        font-size: 1.6rem;
    }
}

@media (min-width : 1200px) {
    
    /* -- Titulo Destinos */
    .titEncabeza h2 {
        font-size: 2.1rem;
        color: black;
        font-family: 'Anton', sans-serif;
    }

    .carrusel section {
        text-align: center;
    }

    .texto-centrado {
        text-align: center;
    } 

    /* -- Imagen Carrusel */
    .imgCarruseltamano {
        width: 75%;
        height: 100%;
    }

    .imgCarrusel {
        height: 60vh;
    }

    .tit-Destino-carru {
        text-decoration: none;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 138px;
        transform: translateY(-50%);
        display: block;
        width: 75%;
        padding-top: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 2.1rem;
    }

     /* -- imagen card */
     .photo {
        width: 100%;
        border-radius: 20px;
        height: 30vh;
    }

    /* -- logo oferta en card */
    .special {
        position: absolute;
        top:0;
        right: 5px;
        width: 33%;
        height: auto;
        z-index: 100;
    }
}