*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------INDEX.php--------------------*/
.barraNavegacion{
    /*background: rgba(203,96,179,1);
    background: -moz-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(113,134,237,1) 0%, rgba(193,70,161,1) 79%, rgba(160,0,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(0%, rgba(113,134,237,1)), color-stop(79%, rgba(193,70,161,1)), color-stop(100%, rgba(160,0,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(113,134,237,1) 0%, rgba(193,70,161,1) 79%, rgba(160,0,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(113,134,237,1) 0%, rgba(193,70,161,1) 79%, rgba(160,0,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(113,134,237,1) 0%, rgba(193,70,161,1) 79%, rgba(160,0,112,1) 100%);
    background: linear-gradient(135deg, rgba(203,96,179,1) 0%, rgba(113,134,237,1) 0%, rgba(193,70,161,1) 79%, rgba(160,0,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#a00070', GradientType=1 );*/
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(20,43,51,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(0%, rgba(33,180,226,1)), color-stop(100%, rgba(20,43,51,1)));
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(20,43,51,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(20,43,51,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(20,43,51,1) 100%);
    background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(20,43,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#142b33', GradientType=1 );
}

/*-------------Carrusel--------------------*/

.carrusel, .carrusel div{
    
    /*max-height: 500px;*/

}


/*--------------------FOOTER------------*/

.social{
    background-color: #2C3E50;
    color: white;
    
    padding: 4rem 1rem;
}

.a-iconos{
    
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 1px solid white;
    
    
}

.a-iconos i{
    width: 40px;
}
.a-iconos:hover{
    background-color: white;
    color: #2C3E50;
    border: 1px solid #2C3E50;
    transition: all 1000ms ease;
}
.copyright{
    color: white;
    text-align: center;
}
.copyright span{
    font-weight: bold;
}
.red-social, .mision, .contacto h3{
    text-align: center;

}



